
<!-- <form >
<ion-content class="content-center">
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nom d'utilisateur</ion-label>
      <ion-input type="email" placeholder="Nom utilisateur" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input color="light" type="password" placeholder="Mot de passe"[(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>

  <ion-item >
    <ion-checkbox slot="start"></ion-checkbox>
    <ion-label class="remembre" text-center>Se souvenir du nom d'utilisateur</ion-label>
  </ion-item>

  <ion-button expand="full" fill="solid" (click)="login(username,password)" shape="round">Connexion</ion-button>

  <ion-button expand="full" fill="clear" color="medium" (click)="forgotPassword()" shape="round">Nom ou mot de passe oublié ?</ion-button>
  
  <ion-button expand="full" fill="outline" color="primary" (click)="testFree()" shape="round">Tester gratuitement</ion-button>
</ion-content>
</form> --><ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-card>
      <ion-card-header>
        Connexion
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input type="email" formControlName="username"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Mot de passe</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Se souvenir de moi</ion-label>
            <ion-checkbox formControlName="rememberMe"></ion-checkbox>
          </ion-item>
        </ion-list>
      </ion-card-content>
      <ion-footer>
        <ion-button expand="full" type="submit" [disabled]="!loginForm.valid">Connexion</ion-button>
      </ion-footer>
    </ion-card>
  </form>
</ion-content>
